<section>
  <div class="div-red section">
    <br>  
    <br>
   
    <h2 class="text-center text-5xl">Experiencia Pasos</h2>

    <br>
    <br>
    <br>
    <div class="categories">
      <div class="">
        <iframe id="player" type="text/html" width="600" height="450"
        src="https://www.youtube.com/embed/8D7NrKB-Dag"
        frameborder="0"  suggestedQuality = "highres"></iframe>
   
      </div>
      <div class="">
        <iframe id="player" type="text/html" width="600" height="450"
        src="https://www.youtube.com/embed/qS2tGIClzD8"
        frameborder="0" suggestedQuality = "highres"></iframe>
      </div>

      
    </div>
  </div>
</section>
