body#LoginForm {
    background-image: url("../../../src/assets/fondo-login.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 150px;
}

.form-heading {
    color: #fff;
    font-size: 23px;
}

.panel h2 {
    color: #444444;
    font-size: 18px;
    margin: 0 0 8px 0;
}

.panel p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
}

.login-form .form-control {
    background: #f7f7f77d none repeat scroll 0 0;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
}

.main-div {
    background: #ffffff21 none repeat scroll 0 0;
    border-radius: 10px;
    margin: 10px auto 30px;
    max-width: 48%;
    padding: 50px 70px 70px 71px;
}

.login-form .form-group {
    margin-bottom: 10px;
}

.login-form {
    text-align: center;
}

.forgot a {
    color: #777777;
    font-size: 14px;
    text-decoration: underline;
}

.login-form .btn.btn-primary {
    background: #b1142b none repeat scroll 0 0;
    border-color: #b1142b;
    color: #ffffff;
    font-size: 14px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0;
}

.login-form .btn.btn-primary:hover {
    background: #110f0f;
    border-color: #110f0f;
}

.forgot {
    text-align: left;
    margin-bottom: 30px;
}

.botto-text {
    color: #ffffff;
    font-size: 14px;
    margin: auto;
}

.login-form .btn.btn-primary.reset {
    background: #b1142b none repeat scroll 0 0;
}

.back {
    text-align: left;
    margin-top: 10px;
}

.back a {
    color: #444444;
    font-size: 13px;
    text-decoration: none;
}

.img-toto {
    margin-bottom: 20px;
    width: 150px;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgb(177 29 45 / 50%);
}

.btn-login {
    margin-top: 20px;
}

.animationload {
    background-color: #00000085;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: rgba(179, 45, 45, 0.712) none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
}

.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #b11d2d transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    height: 80px;
    left: -22px;
    position: absolute;
    top: -22px;
    width: 90px;
    height: 90px;
}

@keyframes osahanloading {
    0% {
        transform: rotate(0deg);
    }
    50% {
        background: #fb1f35ab none repeat scroll 0 0;
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1300px) {
    .main-div {
        max-width: 60%;
    }
}

@media (max-width: 1100px) {
    .main-div {
        max-width: 80%;
    }
}