body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

.app-container {
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.form-container {
    margin-top: 20px;
}

form {
    display: flex;
    justify-content: space-between;
}

form label {
    margin-right: 10px;
}

form input[type="text"] {
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

form input[type="submit"]:hover {
    background-color: darkred;
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}
