<section>
  <div class="pb-5">
    <h2 class="title">¿Qué beneficios obtengo?</h2>

    <div class="benefits">
      <div class="benefit">
        <div class="flex justify-content-center">
          <img class="icon" src="/assets/images/icono_compra.png" alt="" />
        </div>
        <h4 class=" text-xl my-0">Pagá tus compras con Pasos</h4>
        <p class=" text-xl">
          Con cada compra estás acumulando Pasos que podrás canjear por artículos en cualquiera de nuestros locales.
        </p>
      </div>

      <div class="benefit">
        <div class="flex justify-content-center">
          <img class="icon" src="/assets/images/iconos_beneficio.png" alt="" />
        </div>
        <h4 class=" text-xl my-0">Promociones Exclusivas</h4>
        <p class=" text-xl " >
          Acceso a descuentos especiales y oportunidades únicas.  
          <br>
          <br>
          <a class="verPromo" routerLink="/verPromo">VER PROMOCIONES</a>  
        </p>

      </div>

      <div class="benefit">
        <div class="flex justify-content-center">
          <img class="icon" src="/assets/images/icono_alianza.png" alt="" />
        </div>
        <h4 class=" text-xl my-0">Comercios Aliados</h4>
        <p class=" text-xl">
          Convertí tus Pasos en descuentos y beneficios para usar en comercios
          adheridos.
          <br>
          <br>
        </p>
      </div>

      <div class="benefit">
        <div class="flex justify-content-center">
          <img class="icon" src="/assets/images/icono_aumenta.png" alt="" />
        </div>
        <h4 class=" text-xl my-0">Aumentá tus beneficios</h4>
        <p class=" text-xl">
          A mayores compras accedes a categorías superiores con mayores
          beneficios.
          <br>
          <br>
        </p>
      </div>
    </div>
  </div>
</section>