<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo-container">
                <!-- <img src="assets/logo.png" alt="Logo"> -->
            </div>
          
            <div class="title-container"> 
                <h1>¡Agua potable en Uruguay: Recursos cuidados, bienestar asegurado!</h1>
            </div>
        </div>
    </div>
</header>

<section class="countdown-section">
    <div class="countdown-container">
        <div class="countdown-days">{{ config.format }}</div>
    </div>
</section>

<!-- <main class="container">
    <section class="history-section">
        <h2>Historia de la Crisis del Agua</h2>
        <div class="timeline">
      
        </div>
    </section>

    <section class="impact-section">
        <h2>Impacto de la Crisis</h2>
   
    </section>

    <section class="action-section">
        <h2>¿Cómo puedes ayudar?</h2>
        <p>Puedes contribuir para solucionar este problema. Ayudando a crear conciencia, donando a organizaciones que trabajan en el suministro de agua potable y haciendo un uso responsable del agua, todos podemos marcar la diferencia.</p>
    </section>

    <section class="contact-section">
        <h2>Contáctanos</h2>
        <p>Si deseas más información o te gustaría ayudar en nuestros esfuerzos, por favor, ponte en contacto con nosotros a través de email@example.com.</p>
    </section>
</main> -->

<!-- <footer class="footer">
    <p>© 2023 SinAguaPotable.uy - Todos los derechos reservados</p>
</footer> -->
