<section>
  <div class="div-red section">
    <h2 class="title light-golden">
      Subí de categoría y ganá más Pasos
    </h2>
    <div class="categories">
      <div class="category">
        <span class="category-title light-golden">PASOS</span>
        <span class="category-sub light-golden"
          >5 Pasos cada $100</span
        >
        <p class="category-text light-golden">
          Empezá a acumular Pasos solo con estar registrado
        </p>
      </div>
      <div class="category">
        <span class="category-title light-golden">PREMIUM</span>
        <span class="category-sub light-golden"
          >10 Pasos cada $100</span
        >
        <p class="category-text light-golden mb-0">
          Con más de $6.000 en compras al año.
        </p>
        <p class="category-text light-golden mt-0">
          Beneficios exclusivos para clientes Premium.
        </p>
      </div>
      <div class="category">
        <span class="category-title light-golden">VIP</span>
        <span class="category-sub light-golden"
          >15 Pasos cada $100</span
        >
        <p class="category-text light-golden mb-0">
          Con más de $15.000 en compras al año.
        </p>
        <p class="category-text light-golden mt-0">
          Beneficios exclusivos para clientes VIP.
        </p>
      </div>
    </div>
  </div>
</section>
