@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.matching {
    color: green;
    font-weight: bold;
}

.not-matching {
    color: red;
    font-weight: bold;
}


.info-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #C22640;
    border-radius: 8px;
    background-color: #F5F5F5;
    margin: 10px 0;
}

.info-header {
    display: flex;
    align-items: center;
    font-family: 'Roboto', Arial, sans-serif;
    color: #C22640;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.info-content {
    font-size: 13px;
    font-weight: 500;
    margin-left: 5px;
}

mat-icon {
    margin-right: 5px;
    font-size: 24px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

.app-container {
    width: 80%;
    margin: auto;
    background-color: white;

}



header {
    background-color: #C22640;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70px;
    height: 70px;
}

.input-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    //  margin-left:163px;
}

.input-container[_ngcontent-ng-c3813881728] button[_ngcontent-ng-c3813881728] {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #C22640;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: all 0.2s;
    margin-left: 193px;

}



.input-container[_ngcontent-ng-c3813881728] input[type="text"][_ngcontent-ng-c3813881728],
.example-container[_ngcontent-ng-c3813881728] {
    width: 100%;
    padding: 10px;

    border-radius: 5px;
    transition: all 0.2s;
    margin-left: 23px;

}

.input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 50%;
    //   margin-bottom: 70px;
    margin-right: 10px;
    margin-left: 70px;
}

.input-container label {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px;
}

header[_ngcontent-ng-c540375212] {
    background-color: #C22640;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-left: -10px;
}

.input-fields[_ngcontent-ng-c540375212] {
    flex-direction: column;
    width: 100%;
    margin-left: -24px;
}

.input-container input[type="text"],
.example-container {
    width: 100%;
    padding: 10px;

    border-radius: 5px;
    transition: all .2s;
}

.example-container .mat-form-field {
    width: 100%;
}

.input-container input[type="text"]:focus {
    border-color: #C22640;
    box-shadow: 0 0 5px rgba(194, 38, 64, 0.2);
}

.elegant-button {


    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #C22640;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
    margin-top: 30px;
    padding-bottom: 9px;


}

.botones {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  

.elegant-button:hover{
    background-color:#df1335;
    color: white;
}

.input-container button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #C22640;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s;
}

.input-container button:hover {
    background-color: darkred;
}

.table-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}


/* Media query para tablets */
@media (max-width: 962px) {

    header[_ngcontent-ng-c540375212][_ngcontent-ng-c540375212] {
        background-color: #C22640;
        color: white;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        margin-left: 0px;
    }


    .app-container {
        width: 95%;
    }

    .input-container {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 250px;
        margin-left: 33px;
        margin-top: 60px;
    }

    .input-fields[_ngcontent-ng-c540375212][_ngcontent-ng-c540375212][_ngcontent-ng-c540375212] {
        flex-direction: column;
        width: 50%;
        margin-left: 59px;
    }

    .input-field {
        width: 100%;
        //  margin-bottom: 15px; /* Espaciado entre campos de entrada */
    }

    .input-container[_ngcontent-ng-c540375212] button[_ngcontent-ng-c540375212] {
        width: 50%;
        margin-top: -10px;
        margin-left: 129px;
    }

    .input-container[_ngcontent-ng-c540375212] input[type="text"][_ngcontent-ng-c540375212],
    .example-container[_ngcontent-ng-c540375212] {
        width: 100%;
        padding: 0px;
        border-radius: 5px;
        transition: all 0.2s;
    }

    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 22px;
    }

    .input-container[_ngcontent-ng-c540375212] {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 29px;
    }

}




button[_ngcontent-ng-c610224798] {
    background-color: #C22640;
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 29px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    /* Color de fondo del botón al hacer hover */
    color: #C22640;
    /* Color del texto al hacer hover */
    border: 1px solid #C22640;
    /* Borde al hacer hover */
}

.nro-fabricante {
    font-weight: bold;
    /* Establecer en negrita */
    //font-size: larger; /* Hacer más grande */
}

.destinatario {
    font-size: x-small;
    /* Hacer más pequeño que el tamaño original */
}